@media screen and (max-width: 991px) {
    /* .pt-80 {
        padding-top: 0px;
    } */
}

p.plink-content {
    position: fixed;
    right: 0px;
    top: 160px;
    background: red;
    padding: 5px;
    border-radius: 3px 0px 0px 3px;
    color: white;
    animation: flash 2s infinite;
    animation-delay: 1s;
}

@keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
.about-img{
    height: 200px;
    object-fit: cover;
    width: 100%;
}
.modal-content.h-auto.rounded-right {
    padding: 20px;
}
