<div class="about-shop">
    <!-- <section class="content-sml ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 home-view-other">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="router-title">
                                <p class="text-trans  mb-0">Home
                                    <span class="text-trans fnt-wig"><i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i>ABOUT
                                        US</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <section class="shop-page pd-60">
        <div class="container">
            <h3 class="fnt-family">About Us</h3>
            <p class="plink-content c-pointer" (click)="yearClick()">CEO Message</p>
            <div class="cnt">
                <P>To start with, we need to go little past to <b>1956</b> , the year our grant father started
                    this
                    seashell merchandise and are proud to tell you that we are now the <b>3rd GENERATION</b> in
                    the
                    family into this spiritual and holy business for <b>65 years</b>. <b>We are famously called
                        in
                        rameswaram as “MOHAMMED ALIYAR FAMILY” in the island</b>.</P>
                <P>We are indigenous people of this island, and known for the shopping of Sea-Shell, Pearls &
                    Spiritual Items in both <b>RETAIL, WHOLESALE</b> throughout <b>PAN INDIA & GLOBAL</b> .</P>
                <P>We have branches operate across <b> GERMANY, JAPAN, MALAYSIA, SINGAPORE, SRILANKA, UNITED
                        KINGDOM
                        , USA </b> (Refer contact page for the same)
                </P>
                <P>We operate from <b>RAMESWARAM</b> , which is one of the spiritual place and vibrant island where the
                    seashell are brought from the <b>SEASHORE directly</b>. We process these seashells from its raw
                    nature, clean and make it ready for the spiritual and aesthetic usage for temples, homes and
                    into gracious wearable garlands, rosaries, pendants – <b>refer the link below to see the
                        processing of seashells from our company.</b>
                </P>
                <P>We are specialised in this core business and personally sorting out the best quality
                    Sea-Shell for the customers for which we have a team of skilled personals specialized in
                    such activities. All the final goods are tested by them before being offered to customers
                    across the globe.
                </P>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12 abt">
                    <div class="cnt">
                        <P class="old1">1956 – In the era of new independent India, at the corner of tamilnadu a young
                            guy “MOHAMMED
                            ALIYAR” started the seashell and pearl business from the historical place keelakarai, which
                            is a flourishing seaport and a gateway to places where the international trade happened
                            until the early 20th century.
                        </P>
                    </div>

                    <!-- <div>
                    <p>Our Company Quality Management System is ISO CERTIFIED.
                    </p>
                    <p>(ISO 9001:2015)</p>
                </div> -->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 abt">
                    <img src="assets/images/i-3.jpg" alt="" class="img-fluid about-img">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 abt">
                    <img src="assets/images/i-6.jpg" alt="" class="img-fluid about-img">
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 abt">

                    <div class="cnt">
                        <P class="old2">1980 – The eldest of the Mohammed aliyar’s family and the proactive champ
                            JAHABARDEEN
                            enhanced the business with the extension of its trade throughout PAN INDIA and shifted the
                            business to the communal hormonal place RAMESWARAM. </P>
                    </div>
                    <!-- <div>
                    <p>Our Company Quality Management System is ISO CERTIFIED.
                    </p>
                    <p>(ISO 9001:2015)</p>
                </div> -->
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12 abt">

                    <div class="cnt">
                        <P class="old3">Then the business slowly increased in the local markets and as well the
                            international
                            locations late in 2000’s. The entire supply chain of the seashells in the local markets in
                            rameswaram and the shops in and around procured the seashells and other spiritual items from
                            the single source of our company “JAHABARDEEN SEA SHELL”
                        </P>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 abt">
                    <img src="assets/images/i-4.jpg" alt="" class="img-fluid about-img">
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
<div class="modal modal-left xs fade" id="right_modal_xs" tabindex="-1" role="dialog" aria-labelledby="top_modal">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content h-auto rounded-right">
            <h4 class="fnt-family">CEO Message</h4>
            <P class="tamil"><i class="fa fa-diamond f-fnt" aria-hidden="true"></i><b>நீ விற்பனை செய்யக்கூடிய பொருளின் தரத்தை ஒரு போதும் குறைக்காதே</b></P>
            <P class="tamil"><i class="fa fa-diamond f-fnt" aria-hidden="true"></i><b>விற்பனைக்கா உன்னுடைய பொருளை மிகைப்படுத்தாதே</b></P>
            <P class="tamil"><i class="fa fa-diamond f-fnt" aria-hidden="true"></i><b>தரமே நிரந்தரம் அதற்கான விலையை வை</b>
            </P>
        </div>
    </div>
</div>