<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>CONTACT US</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"> <i class="fa fa-map-marker mr-1"></i> Rameswaram</a></li>
                            <li><a href="#"> <i class="fa fa-volume-control-phone mr-1"></i> +91 9791874818</a></li>
                            <li><a href="#"> <i class="fa fa-envelope-o mr-1"></i> buyseashell@gmail.com</a></li>
                            <li><a href="#"> <i class="fa fa-clock-o mr-1"></i> Working Hours - 08:00am - 08:00pm</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>DELIVERY & RETURNS</h4>
                        <ul class="list-unstyled">
                            <li><a routerLinkActive="active" routerLink="/shell/home-page">Home</a></li>
                            <li><a routerLinkActive="active" routerLink="/shell/shop-dashboard/shop-page">Shop</a></li>
                            <li><a routerLinkActive="active" routerLink="/shell/about-dashboard">About us</a></li>
                            <li><a routerLinkActive="active" routerLink="/shell/contact-page">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>INFORMATION</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Cancellation, Return & Refund Policy</a></li>
                            <li><a href="#">Shipment & Tracking</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>FOLLOW US</h4>
                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/sjmsea/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2021 - buyseashell. All rights reserved.</p>
                </div>
            </div>


        </div>
    </div>

</footer>