<div>
    <section class="shop-page pd-60">
        <div class="container">
            <div class="page-header">
                <h3 class="fnt-family">Blogs Details</h3>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <article id="1">
                        <header>
                            <div class="meta mb-2">
                                <span class="mr-1"><i class="fa fa-calendar mr-1"
                                        aria-hidden="true"></i>21-02-21</span>|
                                <span class="author mr-1"><i class="fa fa-user-o mr-1"
                                        aria-hidden="true"></i>Admin</span>
                            </div>
                            <h4 class="fnt-color">
                                <a>
                                    Decorating With The Dead</a>
                            </h4>
                        </header>
                        <div class="entry-content">
                            <img src="assets/images/blog-1.jpg" class="img-fluid blog-img" alt="">
                            <p class="lead-content">Decorating With The Dead Skin, Bones and Shells as Symbols Honoring the dead
                                with beauty, art and spirit Nature always wears the color of its spirits, said Ralph
                                Waldo Emerson.</p>                            
                        </div>
                    </article>
                   
                   
                </div>                
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>