<div>
    <!-- <section class="content-sml ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 home-view-other">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="router-title">
                                <p class="text-trans  mb-0">Home
                                    <span class="text-trans fnt-wig"><i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i>BLOGS</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <section class="shop-page pd-60">

        <div class="container">

            <div class="page-header">
                <h3 class="fnt-family">Blogs</h3>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <article id="1">
                        <header>
                            <div class="meta mb-2">
                                <span class="mr-1"><i class="fa fa-calendar mr-1"
                                        aria-hidden="true"></i>21-02-21</span>|
                                <span class="author mr-1"><i class="fa fa-user-o mr-1"
                                        aria-hidden="true"></i>Admin</span>
                            </div>
                            <h4 class="fnt-color">
                                <a>
                                    Decorating With The Dead</a>
                            </h4>
                        </header>
                        <div class="entry-content">
                            <img src="assets/images/blog-1.jpg" class="img-fluid blog-img" alt="">
                            <p class="lead-content">Decorating With The Dead Skin, Bones and Shells as Symbols Honoring the dead
                                with beauty, art and spirit Nature always wears the color of its spirits, said Ralph
                                Waldo Emerson.</p>
                            <a class="btn btn-primary" (click)="viewBlog()">View
                                More</a>
                        </div>
                    </article>
                   
                   
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <article id="2">
                        <header>
                            <div class="meta mb-2">
                                <span class="mr-1"><i class="fa fa-calendar mr-1"
                                        aria-hidden="true"></i>10-02-21</span>|
                                <span class="author mr-1"><i class="fa fa-user-o mr-1"
                                        aria-hidden="true"></i>Admin</span>
                            </div>
                            <h4 class="fnt-color">
                                <a>
                                    Rameswram Sea Shells</a>
                            </h4>
                        </header>
                        <div class="entry-content">
                            <img src="assets/images/i-4.jpg" class="img-fluid blog-img" alt="">
                            <p class="lead-content">With shock and dismay I see some pretty awful mid-century kitsch used in
                                design today, and I guess it works in some instances. Shell kitsch, however, is so bad
                                it’ll never be good.</p>

                            <a class="btn btn-primary" (click)="viewBlog()">View More</a>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <article id="3">
                        <header>
                            <div class="meta mb-2">
                                <span class="mr-1"><i class="fa fa-calendar mr-1"
                                        aria-hidden="true"></i>10-02-21</span>|
                                <span class="author mr-1"><i class="fa fa-user-o mr-1"
                                        aria-hidden="true"></i>Admin</span>                               
                            </div>
                            <h4 class="fnt-color">
                                <a>
                                    Winter is Coming
                                </a>
                            </h4>
                        </header>
                        <div class="entry-content">
                            <img src="assets/images/i-2.jpg" class="img-fluid blog-img" alt="">
                            <p class="lead-content">I love that these rare finds often illicit a “whoa, what is that” from
                                fellow beachgoers. Sea beans or drift seeds are common names for a variety of seeds that
                                frequently wash up on the beach.</p>

                            <a class="btn btn-primary" (click)="viewBlog()">View More</a>
                        </div>
                        <footer>
                        </footer>
                    </article>
                </div>
                <!-- <aside class="col-md-4">
                    <h3>Recent Posts</h3>
                    <div class="list-group  mb-3">
                        <a class="list-group-item active">
                            <h4 class="list-group-item-heading">Rameswram Sea Shells</h4>
                            <p class="list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, optio eum &hellip;
                            </p>
                        </a>
                        <a class="list-group-item">
                            <h4 class="list-group-item-heading">All Type of Sea Shell Products</h4>
                            <p class="list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, optio eum &hellip;
                            </p>
                        </a>
                        <a class="list-group-item">
                            <h4 class="list-group-item-heading">Winter is Coming</h4>
                            <p class="list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, optio eum &hellip;
                            </p>
                        </a>
                        <a class="list-group-item">
                            <h4 class="list-group-item-heading">Christmas Discount</h4>
                            <p class="list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, optio eum &hellip;
                            </p>
                        </a>
                    </div>
                    <div class="container">
                        <h3>Follow Us</h3>
                        <div class="social">
                            <a><i class="fa fa-3x fa-facebook-square"></i></a>
                            <a><i class="fa fa-3x fa-twitter-square"></i></a>
                            <a><i class="fa fa-3x fa-linkedin-square"></i></a>
                            <a><i class="fa fa-3x fa-google-plus-square"></i></a>
                        </div>
                    </div>
                </aside> -->
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>