<section>
    <!-- <video autoplay muted loop class="video">
        <source src="assets/video/seashell.mp4" type="video/mp4">
    </video> -->
    <section class="content">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item item active">                   
                    <img class="d-block w-100" src="assets/images/i-8.jpg" alt="First slide">
                    <div class="carousel-caption">
                        <h2 class="animated bounceInRight fnt-wig" style="animation-delay: 1s">Welcome to Buy Sea Shell</h2>
                        <h3 class="animated bounceInLeft h3" style="animation-delay: 2s">We are introducting Sea-Shell-Product</h3>
                        <button (click)="shopPage('seashell')" class="shopbtn animated bounceInUp"
                            style="animation-delay: 3s">Shop Now <i class="fa fa-shopping-bag mb-0"></i></button>
                    </div>
                </div>
                <div class="carousel-item item">                    
                    <img class="d-block w-100" src="assets/images/i-11.jpg" alt="Second slide">
                    <div class="carousel-caption">
                        <h2 class="animated bounceInRight fnt-wig" style="animation-delay: 1s">Welcome to Buy Sea Shell</h2>
                        <h3 class="animated bounceInLeft h3" style="animation-delay: 2s">We are introducting Handicraft-Product</h3>
                        <button (click)="shopPage('handicrafts')" class="shopbtn animated bounceInUp"
                            style="animation-delay: 3s">Shop Now <i class="fa fa-shopping-bag mb-0"></i></button>
                    </div>
                </div>
                <div class="carousel-item item">                   
                    <img class="d-block w-100" src="assets/images/i-14.jpg" alt="Third slide">
                    <div class="carousel-caption">
                        <h2 class="animated bounceInRight fnt-wig" style="animation-delay: 1s">Welcome to Buy Sea Shell</h2>
                        <h3 class="animated bounceInLeft h3" style="animation-delay: 2s">We are introducting Spiritual-Product</h3>
                        <button (click)="shopPage('Spiritual')" class="shopbtn animated bounceInUp"
                            style="animation-delay: 3s">Shop Now <i class="fa fa-shopping-bag mb-0"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container pt-100">
            <div class="row">
                <div class="col-md-12 home-view animatletter">
                    <div class="row home-cont ">
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <h1 class="fnt-wig text-trans mob-view h1-1" contenteditable data-heading="Welcome To Buy Sea Shell">
                                Welcome To Buy Sea Shell
                            </h1>
                            <h3 class="h3-animation mob-view h3">We are introducting<span class="word"></span></h3>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 title-slider Showing">
                            <h1 class="fnt-wig text-trans h1-1" contenteditable data-heading="Welcome To Buy Sea Shell">
                                Welcome To Buy Sea Shell
                            </h1>
                            <h3 class="h3-animation h3">We are introducting<span class="word"></span></h3>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                <li data-target="#carouselExampleControls" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item item active">
                    <img class="d-block w-100" src="assets/images/i-8.jpg" alt="First slide">
                    <div class="carousel-caption">
                        <h2 class="animated bounceInRight" style="animation-delay: 1s">Black Friday</h2>
                        <h3 class="animated bounceInLeft" style="animation-delay: 2s">Kides & Womens Dress</h3>
                        <button routerLink="/welcome/shop" class="shopbtn animated bounceInUp"
                            style="animation-delay: 3s">Shop Now <i class="fas fa-shopping-bag mb-0"></i></button>
                    </div>
                </div>
                <div class="carousel-item item">
                    <img class="d-block w-100" src="assets/images/i-11.jpg" alt="Second slide">
                    <div class="carousel-caption">
                        <h2 class="animated zoomIn" style="animation-delay: 1s">Winter Collections</h2>
                        <h3 class="animated zoomIn" style="animation-delay: 2s">Kides & Womens Dress</h3>
                        <button routerLink="/welcome/shop" class="shopbtn animated zoomIn"
                            style="animation-delay: 3s">Shop Now <i class="fas fa-shopping-bag mb-0"></i></button>
                    </div>
                </div>
                <div class="carousel-item item">
                    <img class="d-block w-100" src="assets/images/i-14.jpg" alt="Third slide">
                    <div class="carousel-caption">
                        <h2 class="animated bounceInLeft" style="animation-delay: 1s">Summer Collections</h2>
                        <h3 class="animated bounceInRight" style="animation-delay: 2s">Kides & Womens Dress</h3>
                        <button routerLink="/welcome/shop" class="shopbtn animated bounceInUp"
                            style="animation-delay: 3s">Shop Now <i class="fas fa-shopping-bag mb-0"></i></button>
                    </div>
                </div>               
            </div>
        </div> -->
    </section>
    <app-products></app-products>
    <section class="content-1">
        <div class="container">
            <div class="text-center">
                <div class="head-c">
                    <h3 class="fnt-family">Our Associations</h3>
                </div>

                <div class="row">
                    <div class="col-md-1 col-sm-1"></div>
                    <div class="col-md-5 col-sm-5 col-xs-12 ">
                        <!-- routerLink="/shell/about-dashboard/guidance-page" -->
                        <div class="b-white" >
                            <img src="assets/images/Guidance.svg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <!-- routerLink="/shell/about-dashboard/recognised-page" -->
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="b-white" >
                            <img src="assets/images/Recognised.svg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <img src="assets/images/s-p-01.png" class="img-fluid" alt="">
                    <p>SECURE PAYMENT</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <img src="assets/images/s-p-02.png" class="img-fluid" alt="">
                    <p>DISPATCH 24-48H</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <img src="assets/images/s-p-03.png" class="img-fluid" alt="">
                    <p>SATISFACTION GUARANTEED</p>
                </div>
            </div>
        </div>
    </section>
</section>
<app-footer></app-footer>