<div class="about-shop">
    <section class="shop-page pd-60 shopping-gallery">
        <div class="container ">
            <h3 class="mb-20 featured-product fnt-family">Shop Products</h3>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="top-content">
                    <div class="shell-div">
                        <div class="feat-header" *ngIf="seashell=='show'">
                            <h4 class="fnt-wig">SEA SHELL</h4>
                            <P>Sea shells also provide relief from stress and offer a protective shield. Shells are also
                                a symbol of good communication, positive and healthy relationships and prosperity.</P>
                        </div>
                        <div class="feat-header" *ngIf="pearls=='show'">
                            <h4 class="fnt-wig">SEA SHELL HANDICRAFTS</h4>
                            <P>Sea Shell Handicrafts are most home decor items in your home or office desk.
                                If you are looking for home decoration or an office decoration item then this will be
                                perfect
                                for, office desk, such as a bookshelf, fireplace mantel, TV cabinet, windowsill,
                                nightstands,
                                table, desk, desktop, coffee corner bar table, entertainment center, etc.</P>
                        </div>
                        <div class="feat-header" *ngIf="spiritual=='show'">
                            <h4 class="fnt-wig">SPIRITUAL ITEMS</h4>
                            <P>Sea shells are one such object which invite good vibes into your home or the workplace.
                                People
                                who holiday on seashores inevitably pickup shells from the beach, which they casually
                                place
                                around the home, unaware of its powers.
                            </P>
                        </div>
                        <div class="corl-div">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-20" *ngFor="let product of seashellList">
                                    <div class="buynow-card cardhover">
                                        <div class="shop-img">
                                            <img class="img-fluid " src="{{product.src}}" alt="">
                                            <!-- <span class="sale">SALE</span> -->
                                        </div>
                                        <span *ngIf="seashell=='show'" class="viewDetails" (click)="buyNowBtn(product.id,'seashell')"><i class="fa fa-info-circle" aria-hidden="true"></i> View Details</span>
                                        <span *ngIf="pearls=='show'" class="viewDetails" (click)="buyNowBtn(product.id,'handicrafts')"><i class="fa fa-info-circle" aria-hidden="true"></i> View Details</span>
                                        <span *ngIf="spiritual=='show'" class="viewDetails" (click)="buyNowBtn(product.id,'spritual')"><i class="fa fa-info-circle" aria-hidden="true"></i> View Details</span>
                                        <div class="shop-content">
                                            <h5 class="h5">{{product.productName}}</h5>
                                            <h6 class="h6">{{product.productType}}</h6>
                                            <p class="amount">
                                                <!-- <s class="mr-2">₹ 500.00</s>  -->
                                                <span class="binkcolor" *ngIf="product.quantityPcs==0 && product.quantityKg.length!=0">
                                                    ₹ {{product.quantityKg[0].amount}}
                                                </span>
                                                <span class="binkcolor" *ngIf="product.quantityPcs==0 && product.quantitySize.length!=0">
                                                    ₹ {{product.quantitySize[0].amount}}
                                                </span>
                                                <span class="binkcolor" *ngIf="product.quantityPcs==0 && product.quantityMm.length!=0">
                                                    ₹ {{product.quantityMm[0].amount}}
                                                </span>
                                                <span class="binkcolor" *ngIf="product.quantityPcs!=0">₹
                                                    {{product.price}}</span>
                                                    <span class="ml-3">
                                                        <a class="btn buy-btn"
                                                            (click)="addcard()">Add to Cart</a>
                                                    </span>
                                            </p>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <app-products></app-products> -->
<app-footer></app-footer>